{% extends "base.html" %} {% block head_title %} test {% endblock head_title %}
{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Welcome To Tweetme2</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4 mx-auto col-10">
    <form class="form" method="POST" action="/create-tweet" id="tweet-create-form">
      {% csrf_token %}
      <div class="d-none alert alert-danger" id="tweet-create-form-error">

      </div>
      <input type="hidden" value="/" name="next" />

      <textarea
        name="content"
        class="form-control"
        placeholder="your tweet .."
        required
      ></textarea>
      <button class="btn btn-primary" type="submit">Tweet</button>
    </form>
  </div>
</div>

<div id="tweets" class="row">Loading</div>

<script>

    function handleTweetFormError(msg, display){

      var myErrorDiv = document.getElementById("tweet-create-form-error")

      if(display === true){
        myErrorDiv.setAttribute("class", "d-block alert alert-danger")
        console.log(msg);
        myErrorDiv.innerText = msg
      }else{
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
      }
    }

    function handleTweetCreateFormDidSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url =myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest();
        const responseType = "json";

        xhr.responseType = responseType;
        xhr.open(method, url);
        
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function () {

            if(xhr.status === 201){
              handleTweetFormError("", false)
                const newTweetJson = xhr.response;
                // const newTweetJson =  JSON.parse(newTweet)
            // console.log(serverResponse);
                const newTweetElement = formatTweetElement(newTweetJson);
                const ogHtml = tweetsContainerElement.innerHTML;
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml;
                myForm.reset();
                
            }else if(xhr.status === 400){
              const errorJson = xhr.response
              const contentError = errorJson.content
              let contentErrorMsg;
              if(contentError){

                

                contentErrorMsg =contentError[0]
                if(contentErrorMsg){
                  handleTweetFormError(contentErrorMsg, true)
                }else{
                  alert("an error occurred")
                }


              }else{
                alert("an error occurred")
              }
              console.log(contentErrorMsg);
              console.log(errorJson);
            }else if(xhr.status === 500){

              alert("There was a server error, please try again later")

            }
            else if(xhr.status === 401){

            alert("You must login");
            window.location.href="/login"

          }
            
        }
        xhr.onerror = function(){
          alert("An error has occurred")
        }
        xhr.send(myFormData)



        
        
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")

    tweetCreateFormEl.addEventListener("submit",handleTweetCreateFormDidSubmit )

  const tweetsContainerElement = document.getElementById("tweets");
  // tweetsElement.innerHTML ='Loading..'
  // var el1 = "<h1>Hi</h1>"

  function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest();
    const method = "GET";
    const url = "/tweets";
    const responseType = "json";

    xhr.responseType = responseType;

    xhr.open(method, url);

    xhr.onload = function () {
      console.log(xhr.response);
      const serverResponse = xhr.response;
      var listedItems = serverResponse.response;
      var finalTweetStr = "";
      var i;

      for (i = 0; i < listedItems.length; i++) {
        console.log(i);
        console.log(listedItems[i]);
        var tweetObj = listedItems[i];
        var currentItem = formatTweetElement(tweetObj);

        finalTweetStr += currentItem;
      }
      tweetsElement.innerHTML = finalTweetStr;

      console.log(listedItems);
    };
    xhr.send();

  }

  loadTweets(tweetsContainerElement)

  function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount);
    return;
  }

  function LikeBtn(tweet) {
    return (
      "<button class='btn btn-primary' onclick = handleDidLike(" +
      tweet.id +
      "," +
      tweet.likes +
      ")>" +
      tweet.likes +
      "Like</button>"
    );
  }

  function formatTweetElement(tweet) {
    var formattedTweet =
      "<div class='mb-4 tweet col-12 col-md-10 mx-auto border rounded py-3' id='" +
      tweet.id +
      "'><p>" +
      tweet.content +
      "</p><div class='btn-group'>" +
      LikeBtn(tweet) +
      "</div></div>";
    return formattedTweet;
  }
</script>

{% endblock content %}
